*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Header{
  background-color: red;
  display: grid;
  place-content: center;
}
.MainDiv{
  min-height: 100vh;
  background-color: whitesmoke;
  display: grid;
  place-content: center;
  
}